<div class="setting-items">

    <h1>Settings</h1>

    <div>
        <label>Arbeitszeit</label>
        <input type="number" [ngModel]="uiHelper.millisToHours(settings.settings.workTime)" (ngModelChange)="settings.settings.workTime = uiHelper.hoursToMillis($event)"
        />
        <div class="unit">
            Stunden
        </div>
    </div>

    <div>
        <label>Wegzeit</label>
        <input type="number" [ngModel]="uiHelper.millisToMinutes(settings.settings.wayTime)" (ngModelChange)="settings.settings.wayTime = uiHelper.minutesToMillis($event)"
        />
        <div class="unit">
            Minuten
        </div>
    </div>

    <div>
        <label>Maximale Anwesenheit</label>
        <input type="number" [ngModel]="uiHelper.millisToHours(settings.settings.maxPresentTime)" (ngModelChange)="settings.settings.maxPresentTime = uiHelper.hoursToMillis($event)"
        />
        <div class="unit">
            Stunden
        </div>
    </div>

</div>

<div class="actions">
    <button (click)="settings.cancelSettings()">
        Abbrechen
    </button>
    <button (click)="settings.saveSettings()">
        Speichern
    </button>
</div>
