:host{
    display: block;
    position: fixed;
    top: 0;;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    overflow: auto;
    background: #fff;
    padding: 5px;


    > input{
        width: 100%;
        text-align: center;
        padding: 10px 0;
        font-size: 20px;
        font-weight: bold;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        outline: none;
    }

    > input:focus{
        border: 1px solid #088;
    }

    > main{
        display: flex;
        flex-direction: column;
    }

    .link{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        a{
            img{
                height: 20px;
            }
        }
    }

    .settings{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        background: #efefef;
        z-index: 1;
        transform: translate3d(0,100%,0);
        transition: transform linear 200ms;
        overflow: auto;
    }

    .settings.active{
        transform: translate3d(0,0,0);
        transition: transform linear 200ms;
    }
}

@media (min-width: 680px) {
    :host{
        > main{
            flex-direction: row;
            justify-content: space-between;

            app-times, app-results{
                flex-basis: 49%;
            }
        }
    }
}
