<input type="tel" [(ngModel)]="input" (ngModelChange)="add()" placeholder="Buchung hinzufügen (hhmm)" />

<app-action-buttons></app-action-buttons>

<main>
    <app-times></app-times>
    <app-results></app-results>
</main>

<div class="link">
    <a href="https://gitlab.com/kunzs/arbeitszeit-tracker" target="_blank">
        <img src="assets/gitlab.png" />
    </a>
</div>

<div class="settings" [ngClass]="{ active: settings.settingsActive }">
    <app-settings>
    </app-settings>
</div>
