:host{

    display: flex;
    justify-content: space-between;

    > button{
        display: block;
        flex-basis: 10px;
        flex-grow: 1;
        border: none;
        background: #088;
        color: #fff;
        padding: 12px 0;
        cursor: pointer;
        outline: none;
        margin-right: 5px;
    }

    > button:last-of-type{
        margin-right: 0;
    }
}
