<p *ngIf="( timeService.entries | async ).length < 1">Noch keine Buchungen vorhanden</p>

<div class="entries" *ngIf="( timeService.entries | async ).length > 0">

    <div *ngFor="let entry of ( timeService.entries | async ); let i = index;">
        <button (click)="timeService.remove(entry)">X</button>
        <span>{{ entry | millisToTimeString }}</span>
    </div>

    <div *ngIf="( timeService.entries | async ).length % 2 === 1" class="current">
        <button>X</button>
        <span>{{ ( timeService.currentTime | async ) | millisToTimeString }}</span>
    </div>

</div>
