:host{

    p{
        text-align: center;
        margin: 0;
        color: #a32222;
        margin: 20px 0 0 0;
        font-weight: bold;
    }

    .entries{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 14px;

        > div{
            flex-basis: 49.5%;
            margin: 0 0 8px 0;
            background: #efefef;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border: 1px solid #ccc;
            min-height: 31px;

            button{
                background: #088;
                color: #fff;
                cursor: pointer;
                border: none;
                padding: 7px;
                text-align: center;
                font-weight: bold;
                outline: none;
                margin: 0 7px 0 0;
                flex-basis: 35px;
            }

        }

        > div.current{
            button{
                background: #ccc;
                cursor: default;
            }
        }

        > div:first-of-type, div:last-of-type{
            flex-basis: 100%;
        }
    }
}
