<table>

    <tr [ngClass]="{ success: (timeService.results | async).overtime >= 0, warning: (timeService.results | async).overtime < 0  }"
        *ngIf="( timeService.entries | async ).length % 2 === 1">
        <td>
            Frühster Feierabend
        </td>
        <td *ngIf="(timeService.results | async).overtime < 0">
            {{ (timeService.results | async).earliestEndOfWorkingDay.getTime() | millisToTimeString }} Uhr
        </td>
        <td *ngIf="(timeService.results | async).overtime >= 0">
            Jetzt!
        </td>
    </tr>

</table>

<table>

    <tr>
        <td>
            Anwesend
        </td>
        <td>
            {{ (timeService.results | async).presentTime | millisToTimeSpanString }}
        </td>
    </tr>

    <tr class="minor">
        <td>
            - Wegzeit
        </td>
        <td>
            {{ settings.settings.wayTime | millisToTimeSpanString }}
        </td>
    </tr>

    <tr class="minor">
        <td>
            - Fehlende Pausenzeit
        </td>
        <td>
            {{ (timeService.results | async).leftBreakTime | millisToTimeSpanString }}
        </td>
    </tr>

    <tr class="minor">
        <td>
            - Arbeitszeit
        </td>
        <td>
            {{ settings.settings.workTime | millisToTimeSpanString }}
        </td>
    </tr>

    <tr [ngClass]="{ success: (timeService.results | async).overtime >= 0, warning: (timeService.results | async).overtime < 0 }">
        <td>
            Überstunden
        </td>
        <td>
            {{ (timeService.results | async).overtime | millisToTimeSpanString }}
        </td>
    </tr>

</table>

<table>

    <tr>
        <td>
            Gesetzlich nötige Pausenzeit
        </td>
        <td>
            {{ (timeService.results | async).minBreakTime | millisToTimeSpanString }}
        </td>
    </tr>

    <tr class="minor">
        <td>
            - genommen
        </td>
        <td>
            {{ (timeService.results | async).breakTimeForMinBreak | millisToTimeSpanString }}
        </td>
    </tr>

    <tr [ngClass]="{ warning: (timeService.results | async).leftBreakTime > 0 }">
        <td>
            Fehlende Pausenzeit
        </td>
        <td>
            {{ (timeService.results | async).leftBreakTime | millisToTimeSpanString }}
        </td>
    </tr>

</table>

<table>

    <tr>
        <td>
            zusätzliche Pausenzeit
        </td>
        <td>
            {{ (timeService.results | async).breakTimeExtra | millisToTimeSpanString }}
        </td>
    </tr>


</table>
